
body {
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.container {
    margin: 0 auto; 
    width:800px;
}

#header {
    //height: 50px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

#footer {
    height: 50px;
    
}

#main {
    width: 90%;
    margin: auto;
    //background: #ffeeff;
    height: 100%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    //-moz-border-radius: 4px; 
    //-webkit-border-radius: 4px;    
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	background: -moz-linear-gradient(center top, #44ddff 0%,#ffffff 28%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #44ddff),color-stop(0.72, #ffffff));
}

#perday {
    margin-top:20px;
    margin-bottom: 20px;
}

.description {
    text-align: justify;
    padding-top: 150px;
    padding-bottom: 30px;
}

.description:first-letter {
    font-size: 3em;
}

#emph {
    font-style: italic;
    color: #666666;
}

#input_username {
    width: 300px;
    height: 60px;
    font-size: 28px;
    color: #666;
    text-align: center;
    border:none;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
//    background: #33ccff;
    background: #44ddff;
}

#chart {
    float:left;
//    width: 100%;
//    height: 100%;
}

#input_username:focus {
    outline: none;
}

#prolific{
    padding: 15px;
    float: right;
    width: 30%;    
}

#graph {
    
    
}

.clear {
    clear:both;
    
}

#search_again {
    padding-top: 50px;
    float:center;
    padding-left: 150px;
    padding-right: 150px;
}

/* tables */

.maintable {
    width: 60%;
    float: left;

}

#frequency_table {
    float: left;
   
    
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url("bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 15px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
    min-width: 60px;
    text-align: center;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #44ddff;
}
